In [1]:
import pandas as pd

In [2]:
news = pd.read_csv('news_data_appl&amzn.csv')

In [3]:
sofr = pd.read_csv('sofr_2020_2022.csv')

In [4]:
unemployment = pd.read_csv('unemployment.csv')

In [5]:
vix = pd.read_csv('VIXCLS.csv')

In [6]:
fomc = pd.read_csv('fomc_meetings_2020_2022.csv')

In [7]:
aapl_price = pd.read_csv('Apple_stock_price_2020_2022 - Sheet1.csv')

In [8]:
amzn_price = pd.read_csv('Amazon_stock_price_2020_2022 - Sheet1.csv')

In [9]:
fed_rate = pd.read_csv('fed_rate_changes_2020_2022.csv')

In [10]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.13-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in c:\users\huawei\appdata\roaming\python\python313\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\huawei\anaconda3\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\huawei\anaconda3\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\huawei\anaconda3\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\huawei\anaconda3\lib\site-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\huawei\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\huawei\anaconda3\lib\site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\huawei\anaconda3\lib\site-packages (from requests->kagglehub) (2025.11.12)
Requirement already satisfied: colorama in c:\users\huawei\appdata\roaming\python\python313\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.13-py3-none-any.whl (68 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.13

In [11]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("frankcaoyun/stocktwits-2020-2022-raw")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/frankcaoyun/stocktwits-2020-2022-raw?dataset_version_number=1...

100%|██████████| 851M/851M [02:58<00:00, 5.00MB/s]

Extracting files...

Path to dataset files: C:\Users\Huawei\.cache\kagglehub\datasets\frankcaoyun\stocktwits-2020-2022-raw\versions\1

In [12]:
import os
print(f"Path: {path}")
print("\nFiles in the directory:")
for item in os.listdir(path):
    print(f"  - {item}")

Path: C:\Users\Huawei\.cache\kagglehub\datasets\frankcaoyun\stocktwits-2020-2022-raw\versions\1

Files in the directory:
  - StockTwits_2020_2022_Raw

In [13]:
import glob
# Find all CSV files
csv_files = glob.glob(os.path.join(path, "**/*.csv"), recursive=True)

# Filter AAPL and AMZN CSV files
aapl_files = [f for f in csv_files if 'AAPL' in os.path.basename(f)]
amzn_files = [f for f in csv_files if 'AMZN' in os.path.basename(f)]

print(f"Total CSV files: {len(csv_files)}")
print(f"AAPL CSV files: {len(aapl_files)}")
print(f"AMZN CSV files: {len(amzn_files)}")
print(f"\nFirst 5 AAPL files:")
for f in aapl_files[:5]:
    print(f"  - {os.path.basename(f)}")
print(f"\nFirst 5 AMZN files:")
for f in amzn_files[:5]:
    print(f"  - {os.path.basename(f)}")

Total CSV files: 362
AAPL CSV files: 62
AMZN CSV files: 90

First 5 AAPL files:
  - AAPL_188952625_188597609.csv
  - AAPL_190836202_188952805.csv
  - AAPL_192859201_190836221.csv
  - AAPL_196002224_192859215.csv
  - AAPL_198442481_196002226.csv

First 5 AMZN files:
  - AMZN_20220305_142538.csv
  - AMZN_20220305_143951.csv
  - AMZN_20220305_145442.csv
  - AMZN_20220305_150923.csv
  - AMZN_20220305_152331.csv

In [14]:
# Merge all AAPL CSV files
print("Reading and merging AAPL data...")
aapl_dfs = []
for i, file in enumerate(aapl_files):
    if i % 10 == 0:
        print(f"  AAPL Progress: {i}/{len(aapl_files)}")
    df = pd.read_csv(file)
    aapl_dfs.append(df)

aapl_stocktwits = pd.concat(aapl_dfs, ignore_index=True)
print(f"AAPL merge complete! Shape: {aapl_stocktwits.shape}")

# Merge all AMZN CSV files
print("\nReading and merging AMZN data...")
amzn_dfs = []
for i, file in enumerate(amzn_files):
    if i % 10 == 0:
        print(f"  AMZN Progress: {i}/{len(amzn_files)}")
    df = pd.read_csv(file)
    amzn_dfs.append(df)

amzn_stocktwits = pd.concat(amzn_dfs, ignore_index=True)
print(f"AMZN merge complete! Shape: {amzn_stocktwits.shape}")

Reading and merging AAPL data...
  AAPL Progress: 0/62
  AAPL Progress: 10/62
  AAPL Progress: 20/62
  AAPL Progress: 30/62
  AAPL Progress: 40/62
  AAPL Progress: 50/62
  AAPL Progress: 60/62
AAPL merge complete! Shape: (914962, 16)

Reading and merging AMZN data...
  AMZN Progress: 0/90
  AMZN Progress: 10/90
  AMZN Progress: 20/90
  AMZN Progress: 30/90
  AMZN Progress: 40/90
  AMZN Progress: 50/90
  AMZN Progress: 60/90
  AMZN Progress: 70/90
  AMZN Progress: 80/90
AMZN merge complete! Shape: (539803, 15)

In [15]:
# View AAPL data
print("=" * 60)
print("AAPL StockTwits Data Overview")
print("=" * 60)
print(f"Shape: {aapl_stocktwits.shape}")
print(f"\nColumns:\n{list(aapl_stocktwits.columns)}")
print(f"\nFirst 5 rows:")
aapl_stocktwits.head()

============================================================
AAPL StockTwits Data Overview
============================================================
Shape: (914962, 16)

Columns:
['Unnamed: 0', 'id', 'body', 'created_at', 'user', 'source', 'symbols', 'owned_symbols', 'mentioned_users', 'entities', 'conversation', 'likes', 'links', 'reshares', 'reshare_message', 'structurable']

First 5 rows:

,Unnamed: 0,id,body,created_at,user,source,symbols,owned_symbols,mentioned_users,entities,conversation,likes,links,reshares,reshare_message,structurable
0,0,188952625,$AAPL there is some smarty money trimming into...,2020-01-03T20:14:21Z,"{'id': 646025, 'username': 'WalterWhitesMoney'...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...","['9', '4', '5', '0', '5', '12', '0', '0', '0',...",[],{'sentiment': None},NaN,NaN,NaN,NaN,NaN,NaN
1,1,188952404,$AAPL boom!,2020-01-03T20:13:15Z,"{'id': 2975791, 'username': 'IntradayTradesmen...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...","['21', '12', '9', '0', '9', '5', '0', '4', '0'...",[],{'sentiment': None},NaN,NaN,NaN,NaN,NaN,NaN
2,2,188952295,$AAPL this pos will not fall below mid VWAP.,2020-01-03T20:12:42Z,"{'id': 2975791, 'username': 'IntradayTradesmen...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...","['20', '11', '9', '0', '9', '5', '0', '4', '0'...",[],{'sentiment': None},"{'parent_message_id': 188952295, 'in_reply_to_...",NaN,NaN,NaN,NaN,NaN
3,3,188952260,$AAPL I am holding going to see what this bab...,2020-01-03T20:12:31Z,"{'id': 2083522, 'username': 'robertlooney', 'n...","{'id': 2095, 'title': 'StockTwits For Android ...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...","['4', '4', '0', '0', '0', '3', '0', '0', '0', ...",[],{'sentiment': {'basic': 'Bullish'}},NaN,"{'total': 1, 'user_ids': [881009]}",NaN,NaN,NaN,NaN
4,4,188951817,$SPY is $AAPL over priced is the average analy...,2020-01-03T20:10:08Z,"{'id': 1581841, 'username': 'CaymanStyleBeef',...","{'id': 2095, 'title': 'StockTwits For Android ...","[{'id': 686, 'symbol': 'AAPL', 'title': 'Apple...","['3', '2', '1', '0', '1', '1', '0', '1', '0', ...",[],{'sentiment': None},"{'parent_message_id': 188951817, 'in_reply_to_...",NaN,NaN,NaN,NaN,NaN

In [16]:
aapl_stocktwits.created_at.max()

'2022-02-27T15:17:51Z'

ends at 2022-02-27

In [17]:
# View AMZN data
print("=" * 60)
print("AMZN StockTwits Data Overview")
print("=" * 60)
print(f"Shape: {amzn_stocktwits.shape}")
print(f"\nColumns:\n{list(amzn_stocktwits.columns)}")
print(f"\nFirst 5 rows:")
amzn_stocktwits.head()

============================================================
AMZN StockTwits Data Overview
============================================================
Shape: (539803, 15)

Columns:
['Unnamed: 0', 'id', 'body', 'created_at', 'user', 'source', 'symbols', 'mentioned_users', 'entities', 'links', 'likes', 'conversation', 'reshares', 'reshare_message', 'owned_symbols']

First 5 rows:

,Unnamed: 0,id,body,created_at,user,source,symbols,mentioned_users,entities,links,likes,conversation,reshares,reshare_message,owned_symbols
0,0,441524104,$AMZN Are you READY for this? \n\nA global PUB...,2022-03-05T14:16:48Z,"{'id': 4492339, 'username': 'TG770', 'name': '...","{'id': 2095, 'title': 'StockTwits For Android ...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'sentiment': {'basic': 'Bullish'}},[{'title': 'An international treaty on pandemi...,NaN,NaN,NaN,NaN,NaN
1,1,441523230,$AMZN you clowns just wait . Amazons ER was pr...,2022-03-05T14:05:15Z,"{'id': 3228162, 'username': 'Weathercatt25', '...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'sentiment': {'basic': 'Bearish'}},NaN,"{'total': 2, 'user_ids': [6346963, 4492339]}",NaN,NaN,NaN,NaN
2,2,441519938,$AMZN NEW ARTICLE : As Amazon Shutters Physica...,2022-03-05T13:21:07Z,"{'id': 1555408, 'username': 'STCKPRO', 'name':...","{'id': 5011, 'title': 'STCK.PRO', 'url': 'http...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'chart': {'thumb': 'https://charts.stocktwits...,"[{'title': None, 'url': 'https://www.stck.pro/...",NaN,NaN,NaN,NaN,NaN
3,3,441518045,$AMZN next ER is going to be a bloodbath . Sub...,2022-03-05T12:50:36Z,"{'id': 3228162, 'username': 'Weathercatt25', '...","{'id': 1149, 'title': 'StockTwits for iOS', 'u...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'chart': {'thumb': 'https://charts.stocktwits...,NaN,NaN,"{'parent_message_id': 441518045, 'in_reply_to_...",NaN,NaN,NaN
4,4,441515689,$AMZN NEW ARTICLE : 3 Reasons Carlisle Is A Gr...,2022-03-05T12:03:06Z,"{'id': 1555408, 'username': 'STCKPRO', 'name':...","{'id': 5011, 'title': 'STCK.PRO', 'url': 'http...","[{'id': 864, 'symbol': 'AMZN', 'title': 'Amazo...",[],{'sentiment': None},"[{'title': None, 'url': 'https://www.stck.pro/...",NaN,NaN,NaN,NaN,NaN

In [18]:
# First, let's examine the entities column structure
import json
print("Sample entities from AAPL:")
for i in range(5):
    if pd.notna(aapl_stocktwits.iloc[i]['entities']):
        print(f"Row {i}: {aapl_stocktwits.iloc[i]['entities']}")
        try:
            parsed = json.loads(aapl_stocktwits.iloc[i]['entities'].replace("'", '"'))
            print(f"  Parsed: {parsed}")
        except:
            print(f"  Could not parse")
        print()

Sample entities from AAPL:
Row 0: {'sentiment': None}
  Could not parse

Row 1: {'sentiment': None}
  Could not parse

Row 2: {'sentiment': None}
  Could not parse

Row 3: {'sentiment': {'basic': 'Bullish'}}
  Parsed: {'sentiment': {'basic': 'Bullish'}}

Row 4: {'sentiment': None}
  Could not parse

In [19]:
import ast

def extract_sentiment(entities_str):
    """Extract sentiment from entities column"""
    if pd.isna(entities_str):
        return None
    try:
        # Convert string to dict
        entities_dict = ast.literal_eval(str(entities_str))
        if 'sentiment' in entities_dict and entities_dict['sentiment'] is not None:
            if 'basic' in entities_dict['sentiment']:
                return entities_dict['sentiment']['basic']
    except:
        pass
    return None

# Apply sentiment extraction to both dataframes
print("Extracting sentiments from AAPL data...")
aapl_stocktwits['sentiment'] = aapl_stocktwits['entities'].apply(extract_sentiment)

print("Extracting sentiments from AMZN data...")
amzn_stocktwits['sentiment'] = amzn_stocktwits['entities'].apply(extract_sentiment)

print("\nSentiment distribution in AAPL:")
print(aapl_stocktwits['sentiment'].value_counts())
print("\nSentiment distribution in AMZN:")
print(amzn_stocktwits['sentiment'].value_counts())

Extracting sentiments from AAPL data...
Extracting sentiments from AMZN data...

Sentiment distribution in AAPL:
sentiment
Bullish    345900
Bearish    107549
Name: count, dtype: int64

Sentiment distribution in AMZN:
sentiment
Bullish    188148
Bearish     48336
Name: count, dtype: int64

In [20]:
# Process AAPL data
# Convert created_at to datetime
aapl_stocktwits['created_at'] = pd.to_datetime(aapl_stocktwits['created_at'])

# Extract date from created_at
aapl_stocktwits['date'] = aapl_stocktwits['created_at'].dt.date

# Group by date and calculate sentiment counts
aapl_sentiment_daily = aapl_stocktwits.groupby('date')['sentiment'].value_counts().unstack(fill_value=0)

# Calculate net sentiment
if 'Bullish' in aapl_sentiment_daily.columns and 'Bearish' in aapl_sentiment_daily.columns:
    aapl_sentiment_daily['net_sentiment'] = (aapl_sentiment_daily['Bullish'] - aapl_sentiment_daily['Bearish']) / \
                                             (aapl_sentiment_daily['Bullish'] + aapl_sentiment_daily['Bearish'])
else:
    aapl_sentiment_daily['net_sentiment'] = 0

# Keep only net_sentiment column and reset index to make date a column
aapl_net_sentiment = aapl_sentiment_daily[['net_sentiment']].reset_index()
aapl_net_sentiment.columns = ['created_at', 'net_sentiment']

print("AAPL Net Sentiment:")
print(aapl_net_sentiment.head(10))
print(f"\nShape: {aapl_net_sentiment.shape}")

AAPL Net Sentiment:
   created_at  net_sentiment
0  2019-12-31       0.696970
1  2020-01-01       0.560976
2  2020-01-02       0.688889
3  2020-01-03       0.283163
4  2020-01-04       0.382979
5  2020-01-05       0.103448
6  2020-01-06       0.400531
7  2020-01-07       0.297158
8  2020-01-08       0.598662
9  2020-01-09       0.629080

Shape: (790, 2)

In [21]:
# Process AMZN data
# Convert created_at to datetime
amzn_stocktwits['created_at'] = pd.to_datetime(amzn_stocktwits['created_at'])

# Extract date from created_at
amzn_stocktwits['date'] = amzn_stocktwits['created_at'].dt.date

# Group by date and calculate sentiment counts
amzn_sentiment_daily = amzn_stocktwits.groupby('date')['sentiment'].value_counts().unstack(fill_value=0)

# Calculate net sentiment
if 'Bullish' in amzn_sentiment_daily.columns and 'Bearish' in amzn_sentiment_daily.columns:
    amzn_sentiment_daily['net_sentiment'] = (amzn_sentiment_daily['Bullish'] - amzn_sentiment_daily['Bearish']) / \
                                             (amzn_sentiment_daily['Bullish'] + amzn_sentiment_daily['Bearish'])
else:
    amzn_sentiment_daily['net_sentiment'] = 0

# Keep only net_sentiment column and reset index to make date a column
amzn_net_sentiment = amzn_sentiment_daily[['net_sentiment']].reset_index()
amzn_net_sentiment.columns = ['created_at', 'net_sentiment']

print("AMZN Net Sentiment:")
print(amzn_net_sentiment.head(10))
print(f"\nShape: {amzn_net_sentiment.shape}")

AMZN Net Sentiment:
   created_at  net_sentiment
0  2019-07-23       0.454545
1  2019-07-24       0.788018
2  2019-07-25       0.404984
3  2019-07-26       0.541401
4  2019-07-27       0.368421
5  2019-07-28       0.684211
6  2019-07-29       0.582938
7  2019-07-30       0.661202
8  2019-07-31       0.644269
9  2019-08-01       0.413681

Shape: (957, 2)

In [22]:
# Summary of processed data
print("=" * 70)
print("FINAL PROCESSED DATA SUMMARY")
print("=" * 70)

print("\nAAPL Net Sentiment DataFrame:")
print(f"  Shape: {aapl_net_sentiment.shape}")
print(f"  Columns: {list(aapl_net_sentiment.columns)}")
print(f"  Date Range: {aapl_net_sentiment['created_at'].min()} to {aapl_net_sentiment['created_at'].max()}")
print(f"  Net Sentiment Range: [{aapl_net_sentiment['net_sentiment'].min():.4f}, {aapl_net_sentiment['net_sentiment'].max():.4f}]")
print(f"  Mean Net Sentiment: {aapl_net_sentiment['net_sentiment'].mean():.4f}")

print("\nAMZN Net Sentiment DataFrame:")
print(f"  Shape: {amzn_net_sentiment.shape}")
print(f"  Columns: {list(amzn_net_sentiment.columns)}")
print(f"  Date Range: {amzn_net_sentiment['created_at'].min()} to {amzn_net_sentiment['created_at'].max()}")
print(f"  Net Sentiment Range: [{amzn_net_sentiment['net_sentiment'].min():.4f}, {amzn_net_sentiment['net_sentiment'].max():.4f}]")
print(f"  Mean Net Sentiment: {amzn_net_sentiment['net_sentiment'].mean():.4f}")

print("\n" + "=" * 70)

======================================================================
FINAL PROCESSED DATA SUMMARY
======================================================================

AAPL Net Sentiment DataFrame:
  Shape: (790, 2)
  Columns: ['created_at', 'net_sentiment']
  Date Range: 2019-12-31 to 2022-02-27
  Net Sentiment Range: [-0.4953, 0.9667]
  Mean Net Sentiment: 0.5073

AMZN Net Sentiment DataFrame:
  Shape: (957, 2)
  Columns: ['created_at', 'net_sentiment']
  Date Range: 2019-07-23 to 2022-03-05
  Net Sentiment Range: [-0.4211, 1.0000]
  Mean Net Sentiment: 0.6063

======================================================================

In [23]:
aapl_net_sentiment.head()

   created_at  net_sentiment
0  2019-12-31       0.696970
1  2020-01-01       0.560976
2  2020-01-02       0.688889
3  2020-01-03       0.283163
4  2020-01-04       0.382979

In [24]:
# Add stock column to AAPL net sentiment
aapl_net_sentiment['stock'] = 'AAPL'

# Add stock column to AMZN net sentiment
amzn_net_sentiment['stock'] = 'AMZN'

print("AAPL Net Sentiment with stock column:")
print(aapl_net_sentiment.head())
print(f"\nAMZN Net Sentiment with stock column:")
print(amzn_net_sentiment.head())

AAPL Net Sentiment with stock column:
   created_at  net_sentiment stock
0  2019-12-31       0.696970  AAPL
1  2020-01-01       0.560976  AAPL
2  2020-01-02       0.688889  AAPL
3  2020-01-03       0.283163  AAPL
4  2020-01-04       0.382979  AAPL

AMZN Net Sentiment with stock column:
   created_at  net_sentiment stock
0  2019-07-23       0.454545  AMZN
1  2019-07-24       0.788018  AMZN
2  2019-07-25       0.404984  AMZN
3  2019-07-26       0.541401  AMZN
4  2019-07-27       0.368421  AMZN

In [ ]:
# Combine AAPL and AMZN net sentiment dataframes,
combined_data = pd.concat([aapl_net_sentiment, amzn_net_sentiment], ignore_index=True)
print("Combined Data Overview:")
print(combined_data.head())
print(f"\nShape: {combined_data.shape}")

Combined Data Overview:
   created_at  net_sentiment stock
0  2019-12-31       0.696970  AAPL
1  2020-01-01       0.560976  AAPL
2  2020-01-02       0.688889  AAPL
3  2020-01-03       0.283163  AAPL
4  2020-01-04       0.382979  AAPL

Shape: (1747, 3)

In [40]:
def add_prefix(df, prefix):
    df = df.copy()
    new_cols = {}
    for col in df.columns:
        if col != "date":  
            new_cols[col] = f"{prefix}_{col}"
    df.rename(columns=new_cols, inplace=True)
    return df

# Add prefixes
sofr = add_prefix(sofr, "sofr")
unemployment = add_prefix(unemployment, "unemp")
vix = add_prefix(vix, "vix")
aapl_price = add_prefix(aapl_price, "aapl")
amzn_price = add_prefix(amzn_price, "amzn")
fed_rate = add_prefix(fed_rate, "fed")
fomc = add_prefix(fomc, "fomc")

In [41]:
combined_economic_data = (
    sofr.merge(unemployment, on="date", how="outer")
        .merge(vix, on="date", how="outer")
        .merge(fomc, on="date", how="outer")
        .merge(aapl_price, on="date", how="outer")
        .merge(amzn_price, on="date", how="outer")
        .merge(fed_rate, on="date", how="outer")
)

In [42]:
final_merged_data = combined_data.merge(
    combined_economic_data,
    on="date",
    how="left"
)

In [43]:
final_merged_data.head()

,date,net_sentiment,stock,sofr_Rate Type,sofr_Rate (%),sofr_1st Percentile (%),sofr_25th Percentile (%),sofr_75th Percentile (%),sofr_99th Percentile (%),sofr_Volume ($Billions),...,aapl_Volume,amzn_Open,amzn_High,amzn_Low,amzn_Close,amzn_Adj Close,amzn_Volume,fed_DFEDTARU,fed_rate_change,fed_action
0,2019-12-31,0.696970,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,0.560976,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75,NaN,Unchanged
2,2020-01-02,0.688889,AAPL,SOFR,1.54,1.49,1.50,1.6,1.65,1123.0,...,"135,480,400",93.75,94.90,93.21,94.90,94.90,"80,580,000",NaN,NaN,NaN
3,2020-01-03,0.283163,AAPL,SOFR,1.55,1.50,1.52,1.6,1.66,1030.0,...,"146,322,800",93.22,94.31,93.22,93.75,93.75,"75,288,000",NaN,NaN,NaN
4,2020-01-04,0.382979,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
final_merged_data.columns

Index(['date', 'net_sentiment', 'stock', 'sofr_Rate Type', 'sofr_Rate (%)',
       'sofr_1st Percentile (%)', 'sofr_25th Percentile (%)',
       'sofr_75th Percentile (%)', 'sofr_99th Percentile (%)',
       'sofr_Volume ($Billions)', 'sofr_Target Rate From (%)',
       'sofr_Target Rate To (%)', 'sofr_Intra Day - Low (%)',
       'sofr_Intra Day - High (%)', 'sofr_Standard Deviation (%)',
       'sofr_30-Day Average SOFR', 'sofr_90-Day Average SOFR',
       'sofr_180-Day Average SOFR', 'sofr_SOFR Index',
       'sofr_Revision Indicator (Y/N)', 'sofr_Footnote ID', 'unemp_UNEMPLOY',
       'vix_VIXCLS', 'fomc_month', 'fomc_raw_date_text', 'fomc_year',
       'aapl_Open', 'aapl_High', 'aapl_Low', 'aapl_Close', 'aapl_Adj Close',
       'aapl_Volume', 'amzn_Open', 'amzn_High', 'amzn_Low', 'amzn_Close',
       'amzn_Adj Close', 'amzn_Volume', 'fed_DFEDTARU', 'fed_rate_change',
       'fed_action'],
      dtype='object')

In [45]:
# save final merged data to CSV
final_merged_data.to_csv("final_merged_data.csv", index=False)
print("Final merged data saved to 'final_merged_data.csv'")

Final merged data saved to 'final_merged_data.csv'